{% extends "base.html" %}
{% block title %}Our Team{% endblock %}
{% block content %}
<section class="bg-light py-5">
    <div class="container text-center">
        <h2>Meet Our Team</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="/static/images/profile-icon.jpg" class="rounded-circle" width="150">
                <h5>Anuj Agrawal</h5>
                <p>Founder & Developer</p>
            </div>
            <div class="col-md-4">
                <img src="/static/images/profile-icon.jpg" class="rounded-circle" width="150">
                <h5>Rudra Agrawal</h5>
                <p>UI/UX Designer</p>
            </div>
            <div class="col-md-4">
                <img src="/static/images/profile-icon.jpg" class="rounded-circle" width="150">
                <h5>Chaitan Kumar</h5>
                <p>Project Manager</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
